<main>
  <section id="error" *ngIf="_error && !_recipe">
    {{ _error }}
  </section>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <label for="url">Recipe URL: </label>
    <input
      type="url"
      id="url"
      name="url"
      class="form-control"
      required
      [(ngModel)]="_url"
      #url="ngModel"
      style="margin: 5px"
    />
    <button type="submit" [disabled]="!form.form.valid">Submit</button>
  </form>

  <span class="loader" *ngIf="_loading"></span>

  <section id="recipe" *ngIf="_recipe">
    <label for="scale">Scale by factor: </label>
    <input
      type="text"
      id="scale"
      [ngModel]="scale_factor"
      (ngModelChange)="onChange($event)"
    />
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let _i of _recipe.ingredients">
        {{
          (_i.quantity2 ? _i.quantity + "-" + _i.quantity2 : _i.quantity)
            | formatNumber
        }}
        {{ _i.unitOfMeasure }} {{ _i.description }}
        <!-- {{ _i }} -->
      </li>
    </ul>
    <h3>Steps:</h3>
    <ol>
      <li *ngFor="let step of _recipe.steps">{{ step }}</li>
    </ol>
  </section>
</main>
